doctype html
include _includes/head.pug
body(data-theme="dark").cv-body
  .circle
  .mobile-menu-trigger Go To ->
  .mobile-menu.hidden
    a(data-target="main-section") Profile
    a(data-target="work-history") Work History
    a(data-target="education") Education
    a(data-target="skills") Skills
  section.cv-content
    section#main-section.single-column
      section.section-heading
        img(src='./img/' + personalInfo.imageFileName)
        h1=personalInfo.name
        h2
          each role in personalInfo.roles
            span=role 
            br
      section.bio
        each paragraph, index in personalInfo.bio
          if (index < 2)
            p=paragraph
        a(href="./bio.html") Read full bio
      section.contact
        h2 Contact
        .contact-links
          a(href="mailto:guido.glarosa@gmail.com") guido.glarosa@gmail.com
          a(href="") +54 11 6361-6161
      section.links
        h2 Links
        each link in socialLinks
          a(href=link.url)=link.name
      #change-theme Change Theme
    section#work-history.double-column
      section.section-title
        h2 Work History
      section.body-wrapper
        section.section-body
          each val in workData
            section.work-item
              h3=val.company
              h4=val.title
              .period=val.period
              each paragraph in val.detail
                p=paragraph
              if val.testimonials
                section.testimonials
                  h4 Testimonials
                  each testimonial in val.testimonials
                    p="\"" + testimonial.content + "\""
                    a.author(href=testimonial.author_link)=testimonial.author + ' - ' + testimonial.author_position
              if val.links
                section.links
                  h4 Links
                  each link in val.links
                    a(href=link.url)=link.name
    section#education.single-column
      section.section-title
        h2 Education
      section
        each paragraph in education
          p=paragraph
    section#skills.single-column
      section.section-title
        h2 Skills
      section.section-body
        section.technical-skills
          each skill in skills
            .skill
              h4=skill.name
              .skill-bar(value=skill.level)
                .skill-level
        section.languages
          each language in languages
            .language
              h2=language.name
              p=language.level
              if (language.detail)
                p=language.detail
  script(src='./main.js' type='text/javascript')